.section-two {
    padding: 300px;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}

/* Title */
.section-two__title {
  font-size: 36px;
  margin-bottom: 12px;
}

/* Subtitle */
.section-two__subtitle {
  font-size: 18px;
  color: #4b5563;
  max-width: 650px;
}

.feature-card {
  background: linear-gradient(135deg, #d0f0ff, #eaf6ff);
  border-radius: 16px;
  padding: 30px;
  height: 100%;
}


/* Icon Box */
.feature-icon {
  width: 56px;
  height: 56px;
  background-color: #1e63f3;
  color: #ffffff;
  font-size: 26px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card Text */
.feature-card p {
  margin-top: 12px;
  color: #374151;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .section-two__title {
    font-size: 28px;
  }
}
